body {
    background-size: auto;
}
.index {
        background-image: url(images/Обои.jpg);
        color: black;
}
.page2 {
    background-image: url(https://img.goodfon.ru/wallpaper/nbig/d/b5/noch-reka-fonari-leto.webp);
    color: whitesmoke;
}
img {
    height: auto;
}
#photo1 {
    width: 35%;
    float: left;
    margin-right: 10px;
    margin-top: 85px;
}
#photo2 {
    width: 35%;
    float: right;
    margin-left: 10px;
}
#photo3 {
    width: 100%;
}
#photo4 {
    width: 30%;
    float: right;
    margin-top: 80px;
}
#photo5 {
    width: 30%;
    float: left;
    margin-top: 20px;
}
.button {
    padding: 12px 24px;
    background-color: rgb(235, 68, 207);
    color: rgb(0, 0, 0);
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s;
}
.button:hover {
    background-color: #ffffff;
    color: rgb(255, 0, 212);
}