body {
  text-indent: 2em;
  text-align: justify;
  font-family: oblique;
  font-size: 35px;
  background-size: auto;
  background-size: cover;
}
.index {
  background-image: url(images/Обои.jpg);
  color: black;
  -webkit-text-stroke: 0.01em white;
}
.page2 {
  background-image: url(images/oboi.webp);
  color: whitesmoke;
  -webkit-text-stroke: 0.01em rgb(0, 0, 0);
}
h1 {
  font-family: cursive;
  text-align: center;
  font-size: 2.19em;
}
.h1 {
  font-family: cursive;
  text-align: center;
  font-size: 3em;
}
img {
  height: auto;
}
#photo1 {
  border-radius: 100em;
  width: 35%;
  float: left;
  margin-right: 10px;
}
#photo2 {
  border-radius: 100em;
  width: 35%;
  float: right;
  margin-left: 0.625em;
}
#photo3 {
  border-radius: 100em;
  width: 50%;
  float: right;
}
#photo4 {
  border-radius: 100em;
  width: 30%;
  float: right;
}
#photo5 {
  border-radius: 100em;
  width: 30%;
  float: left;
}
#photo6 {
  border-radius: 100em;
  width: 35%;
  float: left;
}
#photo7 {
  border-radius: 100em;
  width: 50%;
  float: left;
}
#photo8 {
  border-radius: 100em;
  width: 30%;
  float: left;
}
#photo9 {
  border-radius: 100em;
  width: 35%;
  float: right;
}
.button {
  padding: 12px 24px;
  background-color: rgb(235, 67, 151);
  color: rgb(0, 0, 0);
  border-radius: 5px;
  font-size: 1em;
  transition: background-color 0.4s;
}
.button:hover {
  background-color: #ffffff;
  color: rgb(233, 17, 197);
}
#numbers {
  font-family: cursive;
  font-size: 2em;
  text-align: center;
}
