body {
    background-image: url(images/Обои.jpg);
    background-size: 100%;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}
#photo1 {
    width: 35%;
    height: auto;
    float: left;
    margin-right: 10px;
    margin-top: 85px;
}
#photo2 {
    width: 35%;
    height: auto;
    float: right;
    margin-left: 10px;
}
#photo3 {
    width: 100%;
    height: auto;
    float: top;
}